# 忽略虚拟环境
.venv/
venv/
env/

# 忽略临时文件
__pycache__/
*.pyc
.DS_Store

# 忽略打包生成的文件
dist/
build/
*.spec

# 忽略数据集 (太大了，一般不传 git)
datasets/

# 忽略训练过程日志 (runs 文件夹很大，建议忽略，只保留模型文件)
runs/
*.pt

# 忽略 VS Code 配置
.vscode/