# 忽略虚拟环境
.venv/
venv/
env/

# 忽略临时文件
__pycache__/
*.pyc
.DS_Store

# 忽略打包生成的文件
dist/
build/
*.spec

# 忽略数据集 (太大了，一般不传 git)
datasets/

# 忽略训练过程日志 (runs 文件夹很大，建议忽略，只保留模型文件)
runs/
*.pt

# 忽略 VS Code 配置
.vscode/

# --- 运行时数据屏蔽 ---
# 忽略 SQLite 数据库 (每个人应该有自己的库)
*.db
*.db-wal
*.db-shm

# 忽略生成的检测图片文件夹
static/images/

# 忽略 Excel/CSV 报表
*.csv
*.xlsx

# --- 系统配置屏蔽 ---
# 忽略那个救命的 WSL 配置文件 (这是你本地独有的)
.wslconfig